In [77]:
import requests

* 과제 (1)
  - 통합 DataFrame ( 서울시/강남구/대치동.... 경북/포항시/지곡동... ) => State, City, Town...
  - to_csv ( address.csv )

* 과제 (2)
  - 시/군/구 별 DataFrame ( 시/군/구 별로 나눈 csv 파일 ) => CSV 파일로 저장
  - 서울시 라는 폴더에 => 강남구.csv, 신사동.csv ...
  - 부산시 라는 폴더에 => 중구.csv 남구.csv ...

In [75]:
adf = pd.DataFrame(columns=["State", "City", "Town"])
adf

Empty DataFrame
Columns: [State, City, Town]
Index: []

In [79]:
response = requests.post("http://www.hira.or.kr/rd/hosp/selectSidoListAjax.do")
si_data = response.json()
df = pd.DataFrame(si_data.get("data"))
df = df[["commCd", "commCdNm"]]
df.head()

  commCd commCdNm
0     11       서울
1     21       부산
2     22       인천
3     23       대구
4     24       광주

In [84]:
gu_data = {
    "sidoCd": 11
}
response = requests.post("http://www.hira.or.kr/rd/hosp/selectSgguListAjax.do", data=gu_data)
gu_data = response.json()
city_df = pd.DataFrame(gu_data.get('data'))
city_df = city_df[["commCdNm"]]
city_df

   commCdNm
0       강남구
1       강동구
2       강북구
3       강서구
4       관악구
5       광진구
6       구로구
7       금천구
8       노원구
9       도봉구
10     동대문구
11      동작구
12      마포구
13     서대문구
14      서초구
15      성동구
16      성북구
17      송파구
18      양천구
19     영등포구
20      용산구
21      은평구
22      종로구
23       중구
24      중랑구

In [86]:
ro_data = {
    "sidoCdNm": "서울",
    "sgguCdNm": "강남구",
}
response = requests.post("http://www.hira.or.kr/rd/hosp/selectDoroListAjax.do", data=ro_data)
ro_data = response.json()
doro_df = pd.DataFrame(ro_data.get('data'))
doro_df = doro_df["commCdNm"]
doro_df.head()

0     강남대로
1      개포로
2      광평로
3    남부순환로
4      논현로
Name: commCdNm, dtype: object

In [91]:
for i in len(df):
    adf["State"] = df["commCdNm"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [88]:
len(df)

17

In [89]:
df.head()

  commCd commCdNm
0     11       서울
1     21       부산
2     22       인천
3     23       대구
4     24       광주