## Python 입문

In [1]:
# Type 바꾸기
a = 3.0
type(a)

float

In [3]:
int(a)   #변수에 저장된 것이 아니라서 a는 여전히 3.0

3

In [4]:
# 사칙연산 연산자
a ** 4

81.0

In [5]:
14 / 3

4.666666666666667

In [6]:
14 % 3

2

In [7]:
# 문자열 합치기
name = "김기표님"
name + "Hello"

'김기표님Hello'

In [8]:
name[2]

'표'

In [9]:
name[1:]

'기표님'

In [12]:
"%s님 안녕하세요." %"김기표"   #과거 방식의 치환

'김기표님 안녕하세요.'

In [13]:
"{0}님 안녕하세요".format("김기표")   #0이라고 하면 헷갈려

'김기표님 안녕하세요'

In [16]:
"{name}님 안녕하세요.".format(name="김기표")
#format 메소드는 해당 변수를 인자(arguments)로 지정

'김기표님 안녕하세요.'

In [17]:
"안녕하세요. {name}입니다. 저는 {course}를 수강하고 있습니다.".format(name="김기표", course="DSS")

'안녕하세요. 김기표입니다. 저는 DSS를 수강하고 있습니다.'

In [18]:
#List, Tuple, Dict, Set
animals = ["강아지", "고양이", "이구아나"]

In [19]:
animals

['강아지', '고양이', '이구아나']

In [20]:
animals[0]

'강아지'

In [21]:
animals.append("물고기")

In [22]:
animals

['강아지', '고양이', '이구아나', '물고기']

In [23]:
len(animals)

4

In [24]:
animals.pop(1)

'고양이'

In [25]:
animals

['강아지', '이구아나', '물고기']

In [26]:
animal = animals[1]
animal

'이구아나'

In [27]:
animals[1] = ""

In [28]:
animals

['강아지', '', '물고기']

In [30]:
animals[0][0], animals[0][1], animals[0][2]

('강', '아', '지')

In [31]:
#Tuple은 List와 동일하지만, Element값이 변경될 수 없다.
width_and_height = (120, 240)

In [32]:
width, height = width_and_height

In [33]:
width

120

In [34]:
height

240

In [36]:
name_set = set(["김기표", "김기표", "강혁", "유영수", "강혁"])

In [37]:
name_set

{'강혁', '김기표', '유영수'}

In [39]:
name_list = ["김기표", "김기표", "강혁", "유영수", "강혁"]

In [40]:
name_list

['김기표', '김기표', '강혁', '유영수', '강혁']

In [43]:
detail_dict = {"name": "김기표", "age": 29, "phonenumber": "010623533xx"}

In [44]:
detail_dict

{'age': 29, 'name': '김기표', 'phonenumber': '010623533xx'}

In [45]:
detail_dict["name"]   #Dict, Hash, JSON ... 이러한 표현들이 동의어

'김기표'

In [46]:
True & True

True

In [47]:
True | False

True

In [48]:
if False:
    print("False")

In [49]:
if True:
    print("False")

False

In [50]:
if 1 < 3:
    print("1이 3보다 작다.")

1이 3보다 작다.

In [55]:
a = 13
b = 12
if a < b:
    print("a({a})가 b({b})보다 작다.".format(a=a, b=b))
else:
    print("a({a})가 b({b})보다 크다.".format(a=a, b=b))

a(13)가 b(12)보다 크다.

In [56]:
animals = ["강아지", "고양이", "이구아나"]

In [57]:
if "이구아나" in animals:
    print("이구아나를 키우고 있습니다.")
else:
    print("이구아나를 키우고 있지 않습니다.")

이구아나를 키우고 있습니다.

In [58]:
score = 89

if score >= 90:
    print("A")
elif score >= 60:
    print("B")
else:
    print("C")

B

In [60]:
age = 20

while age < 30:
    print("20대에 나이를 먹었습니다. 현재나이: {age}".format(age=age))
    age += 1

20대에 나이를 먹었습니다. 현재나이: 20
20대에 나이를 먹었습니다. 현재나이: 21
20대에 나이를 먹었습니다. 현재나이: 22
20대에 나이를 먹었습니다. 현재나이: 23
20대에 나이를 먹었습니다. 현재나이: 24
20대에 나이를 먹었습니다. 현재나이: 25
20대에 나이를 먹었습니다. 현재나이: 26
20대에 나이를 먹었습니다. 현재나이: 27
20대에 나이를 먹었습니다. 현재나이: 28
20대에 나이를 먹었습니다. 현재나이: 29

In [61]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
animals = ["dog", "cat", "bird", "lion"]

In [64]:
for animal in animals:
    print("나는 {animal}을 키운다.".format(animal=animal))

나는 dog을 키운다.
나는 cat을 키운다.
나는 bird을 키운다.
나는 lion을 키운다.

In [65]:
for number in range(3):
    print("hello world {number}".format(number=number))

hello world 0
hello world 1
hello world 2

In [67]:
for ___ in range(3):   # ___의 의미는 밑에서 호출 안하고 순수하게 몇 번 사용하겠다는 뜻
    print("hello world")

hello world
hello world
hello world

In [68]:
for i in range(5):
    print("*" * (i+1))

*
**
***
****
*****

In [69]:
for i in range(5):
    star = ""
    for j in range(i+1):
        star += "*"
    print(star)

*
**
***
****
*****

In [70]:
username = input("너의 이름은 뭐니? ")

너의 이름은 뭐니? 김기표

In [71]:
username

'김기표'

In [73]:
for i in range(int(input("별 몇 개? "))):
    print("*" * (1+i))

별 몇 개? 3
*
**
***

In [79]:
f = open("../animals.txt", "r")

In [76]:
f.readline()

'이구아나\n'

In [77]:
f.readlines()

['강아지\n', '고양이\n', '참새']

In [80]:
data = f.read()   #f는 한 번 호출하면 초기화 되니까 위 f 1번 더 호출하기
data

'이구아나\n강아지\n고양이\n참새'

In [85]:
f = open("./animals.txt", "w")
f.write("hello world")

11

In [86]:
f.close()   #close까지 해야 저장이 됩니다.

In [89]:
with open("./animals.txt", "w") as f:
    f.write("hello world")
    #f.close()를 따로 입력하지 않아도 된다.

In [90]:
with open("./stars.txt", "w") as f:
    for i in range(5):
        f.write("*" * (i+1))
        f.write("\n")

함수를 쓰는 이유는? 자동화!

작업 자동화. 우리가 반복적으로 사용할 어떤 특정 기능들에 대해서 재사용 가능한 코드 덩어리

Python에서는 def라는 키워드로 함수를 만들 수 있다.

In [91]:
# 함수를 정의하자
def greeting():
    username = input()
    print("{username}님, 가입을 축하드립니다.".format(username=username))

In [92]:
greeting()   #함수실행

기표
기표님, 가입을 축하드립니다.

In [93]:
def print_pretty_star(count):
    """
    이 함수는 별찍기 함수에요.
    """
    for i in range(count):
        print("*" * (i+1))

In [94]:
print_pretty_star(2)

*
**

In [95]:
print_pretty_star(int(input("Count?")))

Count?3
*
**
***

In [96]:
def star_assignment():
    count = int(input("별 몇 개? "))
    for i in range(count):
        print("*" * (i+1))
star_assignment()

별 몇 개? 3
*
**
***

In [97]:
def print_pretty_star(count):
    for i in range(count):
        print("*" * (count-i))

In [98]:
print_pretty_star(int(input("Count? ")))

Count? 3
***
**
*

In [99]:
def star_assignment():
    count = int(input("별 몇 개? "))
    for i in range(count):
        print("*" * (count-i))
star_assignment()

별 몇 개? 3
***
**
*

In [104]:
def star_assignment():
    count = int(input("별 몇 개? "))
    for i in range(count):
        print(" " * (count-i), "*" * (i+1))

In [106]:
star_assignment()

별 몇 개? 3
    *
   **
  ***

In [107]:
def star_assignment():
    count = int(input("별 몇 개? "))
    for i in range(count):
        print(" " * i, "*" * (count-i))

In [108]:
star_assignment()

별 몇 개? 3
 ***
  **
   *

In [110]:
def star_last():
    count = int(input("별 몇 개? "))
    for i in range(count):
        print(" " * i, "*" * (2*(count-i)-1))
    for j in range(count-1):
        print(" " * (count-j-2), "*" * (2*j + 3))
star_last()

별 몇 개? 5
 *********
  *******
   *****
    ***
     *
    ***
   *****
  *******
 *********