### 과제
* 다방 => 댜뱡 
* 40개의 매물 데이터 => provider, agency, room
* provider, agency, room 테이블에 데이터 추가하기 + JOIN 한번씩만 해보기
---
1. 데이터베이스 생성하기 - CREATE DATABASE
2. 테이블 생성하기 ( * ) - CREATE TABLE
3. 데이터 추가하기 - INSERT INTO

In [1]:
import pymysql

In [2]:
db = pymysql.connect(
    "db.fastcamp.us",
    "root",
    "dkstncks",
    "kipoy",
    charset="utf8"
)

In [3]:
cursor = db.cursor()

In [4]:
SQL_QUERY = """
    SHOW TABLES;
"""
pd.read_sql(SQL_QUERY, db)

  Tables_in_kipoy
0          agency
1        provider

In [5]:
zig_df = pd.read_csv("zigbang.csv")

In [9]:
zig_df.head(2)

,직방 매물번호,연락처,이메일,부동산,보증금,월세
0,3467204.0,010-4780-3740,서울특별시 강남구 논현1동 124-33,TODAY공인중개사(이인규),1000.0,100.0
1,3150497.0,010-4780-3740,서울특별시 강남구 논현1동 124-33,TODAY공인중개사(이인규),11000.0,60.0

In [12]:
SQL_QUERY = """
    INSERT INTO room (address, deposit, rent)
    ;
"""
cursor.execute(SQL_QUERY)
db.commit()

ProgrammingError: (1064, "42000You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1")