# 4T_Pandas Basic (4) - 파일 입출력 ( csv, excel, sql )

In [ ]:
-실제 엑셀 파일 데이터를 바탕으로 위의 것들을 다시 한 번 실습
-국가별 파일 입출력했음
번외로 수학계산을 해 볼 것이다. max, mean, min, sum

In [1]:
df = pd.DataFrame([{"Name": "KiPyo Kim", "Age": 29}, {"Name": "KiDong Kim", "Age": 33}])

In [2]:
df

   Age        Name
0   29   KiPyo Kim
1   33  KiDong Kim

In [3]:
# 옵션에 대해서만 알아가자
df.to_csv("fastcampus.csv")
df.to_csv("fastcampus.csv", index=False)
df.to_csv("fastcampus.csv", index=False, header=False)

* CSV(Comma Seperated Value) => 각각의 데이터가 ","를 기준으로 나뉜 데이터
* 예를 들어 김기표 | 29 | 분석가 // sep="|" 이거였어  // 이렇게 하면 ,가 |이걸로 바뀌게 된다.

In [4]:
df.to_csv("fastcampus.csv", index=False, header=False, sep="|")

* 데이터 분석을 사용할 때 2가지 양식이 있다
 1. csv(엑셀), XML, JSON == 데이터베이스
 2. Pickle(데이터 분석에서 상당히 중요하다) => 파이썬의 객체 그대로 저장할 수 있다.       파이썬 코드를 그대로 저장
* 즉, 클래스나 함수를 바이너리 형태로 저장해서 언제든 쓸 수 있도록

In [ ]:
df = pd.read_csv
# 이렇게 간단하다
# 엑셀 파일을 일괄적으로 csv 형태로 바꿔주는 프로그래밍 => Pandas로 하면 금방 한다
# read_excel().to_csv 이런 식으로 하면. 해보자

In [5]:
pd.read_csv("fastcampus.csv")

    29|KiPyo Kim
0  33|KiDong Kim

In [7]:
pd.read_csv("fastcampus.csv", header=None, sep="|")

    0           1
0  29   KiPyo Kim
1  33  KiDong Kim

In [11]:
df = pd.read_csv("fastcampus.csv", header=None, sep="|")
df.rename(columns={0: "Age", 1: "Name"}, inplace=True)
df

   Age        Name
0   29   KiPyo Kim
1   33  KiDong Kim